<section class="container m-auto mb-4">
  <h2 class="text-center text-1xl p-3 md:text-3xl font-light">LISTA DE SUPERHEROES</h2>
  <ul class="columns-xs gap-3">
    <% superheroes.forEach((superheroe) =>{ %>
    <li class="break-inside-avoid-column mb-3">
      <div class="flex flex-col gap-1 border border-black/90 rounded-md p-3">
        <h4><b>Nombre de superhéroe:</b> <%= superheroe.nombreSuperHeroe %></h4>
        <h4><b>Nombre real:</b> <%= superheroe.nombreReal %></h4>
        <h4><b>Edad:</b> <%= superheroe.edad %></h4>
        <h4><b>Planeta de origen:</b> <%= superheroe.planetaOrigen %></h4>
        <h4><b>Debilidad:</b> <%= superheroe.debilidad %></h4>
        <div>
          <h4 class="font-bold">Poderes:</h4>
          <ul class="m-0 p-0">
            <% superheroe.poderes.forEach(poder =>{ %>
            <li><%= poder %></li>
            <% }); %>
          </ul>
        </div>
        <hr class="border-t border-black/50" />
        <div>
          <h4 class="font-bold">Aliados:</h4>
          <ul>
            <% superheroe.aliados.forEach(aliado =>{ %>
            <li><%= aliado %></li>
            <% }); %>
          </ul>
        </div>
        <hr class="border-t border-black/50" />
        <div>
          <h4 class="font-bold">Enemigos:</h4>
          <ul>
            <% superheroe.enemigos.forEach(enemigo =>{ %>
            <li><%= enemigo %></li>
            <% }); %>
          </ul>
        </div>
        <hr class="border-t border-black/50" />
        <h4><b>Creador:</b> <%= superheroe.creador ?? "Desconocido" %></h4>
        <h4><b>ID:</b> <%= superheroe._id %></h4>
        <div class="flex gap-3 text-white justify-end">
          <a
            href="/api/heroes/<%= superheroe._id %>/editar"
            class="bg-yellow-500 p-2 rounded-md"
            >Editar</a
          >
          <button
            superheroeId="<%=superheroe._id %>"
            nombreSuperHeroe="<%=superheroe.nombreSuperHeroe %>"
            onclick="eliminarSuperheroe(this)"
            class="bg-red-500 p-2 rounded-md"
          >
            Eliminar
          </button>
        </div>
      </div>
    </li>
    <% }); %>
  </ul>
</section>
<script src="/scripts/dashboard.js"></script>
